<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/appStyle.css') }}">
    
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Belly Button Biodiversity</h1>
            <h1>Dashboard</h1>
            <p>Use the charts below to explore the dataset</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Select Sample:</h2>
                <select id="selDataset" onchange="getData(this.value)">
                    <!-- <option value="dataset1">United States</option>
                    <option value="dataset2">UK</option>
                    <option value="dataset3">Canada</option> -->
                </select>
                <!-- <form id="myForm">
                    <select id="selectNumber">
                      <option>Choose a number</option>
                    </select>
                </form> -->
                    <!-- <script src="lib/script.js"></script> -->
                <div id="pie"></div>
                <!-- <script src="plots.js"></script> -->
            </div>
            <div class="col-md-4">
                <div id="pie"></div>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Belly Button Sample Data</th>
                      </tr> 
                    </thead>
                    <tbody>
                            <tr><td>Age: </td></tr>
                            <tr><td>BBTYPE: </td></tr>
                            <tr><td>Ethnicity: </td></tr>
                            <tr><td>Gender: </td></tr>
                            <tr><td>Location: </td></tr>
                            <tr><td>Sample: </td></tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Run the routes to get data</th>
                  </tr>
                </thead>
                <tbody>
                        <tr><td>Routes to test the python json construction to build plotly charts </td></tr>
                        <tr><td>/otu - get the details on the bacteria </td></tr>
                        <tr><td>/metadata/<sample> - return the metadata json for a specific sample </td></tr>
                        <tr><td>/metadata/<sample> - the frequency of BB washes</td></tr>
                        <tr><td>/samples/<sample> - the details of a sample</td></tr>
                </tbody>
              </table>
            </div>
          </div>

        <!-- <div class="row">
            <div class="col-md-12">
                <h2><a href="/send">The Send Route</a></h2>
            </div>
        </div> -->
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/jsApp.js') }}"></script>

</body>

</html>
